name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install SQLx CLI
        run: cargo install sqlx-cli
      - name: Check SQLx cache
        run: cargo sqlx prepare --check -- --lib
        working-directory: ${{ github.workspace }}/core
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose