name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install SQLx CLI
        run: cargo install sqlx-cli
      - name: Prepare SQLx cache
        run: cargo sqlx prepare --workspace
        working-directory: ${{ github.workspace }}
      - name: Set SQLX_OFFLINE
        run: echo "SQLX_OFFLINE=true" >> $GITHUB_ENV
      - name: Build
        run: SQLX_OFFLINE=true cargo build --verbose
      - name: Run tests
        run: SQLX_OFFLINE=true cargo test --verbose